.book,
.book * {
  box-sizing: border-box;
}
.book {
  background: #fffdf6;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.group-18 {
  position: absolute;
  inset: 0;
}
.rectangle-1 {
  background: #c5d9b8;
  border-radius: 5px;
  width: 1440px;
  height: 106px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-16 {
  border-radius: 0px;
  width: 1440px;
  height: 106px;
  position: absolute;
  left: -1661.5px;
  top: 15.5px;
  overflow: visible;
}
.rectangle-3 {
  background: #c5d9b8;
  border-radius: 5px;
  width: 1440px;
  height: 106px;
  position: absolute;
  left: 0px;
  top: 918px;
}
.home {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 877px;
  top: 45px;
}
.koleksi {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 999px;
  top: 45px;
}
.layanan {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 1116px;
  top: 45px;
}
.rectangle-5 {
  background: #f1efd7;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 861px;
  height: 721px;
  position: absolute;
  left: 484px;
  top: 152px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.book2 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 60px;
  top: 5px;
  overflow: hidden;
}
.perpus-kita {
  color: #000000;
  text-align: center;
  font-family: var(--label-medium-font, "Roboto-Medium", sans-serif);
  font-size: 24px;
  line-height: var(--label-medium-line-height, 16px);
  letter-spacing: var(--label-medium-tracking, 0.5px);
  font-weight: 500;
  position: absolute;
  left: 647px;
  top: 971px;
  width: 145px;
  height: 23px;
}
.screenshot-2025-05-04-211727 {
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 229px;
  height: 58px;
  position: absolute;
  left: 121px;
  top: 702px;
  object-fit: cover;
}
.screenshot-2025-05-04-211912 {
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 229px;
  height: 54px;
  position: absolute;
  left: 121px;
  top: 790px;
  object-fit: cover;
}
.sang-raja-hutan {
  color: #000000;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 39px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 542px;
  top: 168px;
  width: 361px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.screenshot-2025-04-14-204935-3 {
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 304px;
  height: 483px;
  position: absolute;
  left: 84px;
  top: 152px;
  object-fit: cover;
  aspect-ratio: 304/483;
}
.aku-adalah-anak-dari-seorang-raja-hutan-ayah-ku-yang-bernama-musafa-ayah-ku-memberi-namaku-somba {
  color: #000000;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 35px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 537px;
  top: 702px;
  width: 780px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.screenshot-2025-05-04-2119122 {
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 128px;
  height: 54px;
  position: absolute;
  left: 532px;
  top: 378px;
}
.screenshot-2025-05-04-211913 {
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 128px;
  height: 54px;
  position: absolute;
  left: 532px;
  top: 541px;
}
.screenshot-2025-05-04-211914 {
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 164px;
  height: 60px;
  position: absolute;
  left: 517px;
  top: 639px;
}
.penulis-samira-hadid-penerbit-warner-spencer {
  color: #000000;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 38px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 542px;
  top: 244px;
  width: 513px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.screenshot-2025-05-04-2119123 {
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 128px;
  height: 54px;
  position: absolute;
  left: 532px;
  top: 459px;
}
.iiiiiiiii {
  color: #000000;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 39px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 537px;
  top: 383px;
  width: 123px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-182 {
  height: auto;
  position: absolute;
  left: 1255px;
  top: 31px;
  overflow: visible;
}
.account-circle {
  width: 79px;
  height: 81px;
  position: absolute;
  left: 1310px;
  top: 8px;
  overflow: visible;
}
.chat-gpt-image-29-apr-2025-21-23-28-2 {
  width: 298px;
  height: 293px;
  position: absolute;
  left: 8px;
  top: -93px;
  object-fit: cover;
  aspect-ratio: 298/293;
}
._919-666-728-632 {
  color: #000000;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 39px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 696px;
  top: 387px;
  width: 303px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._30-halaman {
  color: #000000;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 39px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 696px;
  top: 468px;
  width: 303px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sinopsis {
  color: #000000;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 39px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 532px;
  top: 651px;
  width: 303px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._12238-bf-52-cd-3-eb-47-c-397-e-5384552709-e-removebg-preview-1 {
  width: 114px;
  height: 114px;
  position: absolute;
  left: 539px;
  top: 429px;
  object-fit: cover;
  aspect-ratio: 1;
}
.sticker-png-book-symbol-ask-a-librarian-library-public-library-learning-commons-map-symbolization-library-card-library-building-removebg-preview-removebg-preview-1 {
  width: 57px;
  height: 43px;
  position: absolute;
  left: 567px;
  top: 546px;
  object-fit: cover;
  aspect-ratio: 57/43;
}
.perpuskita {
  color: #000000;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 39px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 696px;
  top: 550px;
  width: 303px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
