.admin,
.admin * {
  box-sizing: border-box;
}
.admin {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-1 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, #5e5c5c, #5e5c5c);
  width: 350px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-21 {
  background: #222222;
  width: 350px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.dashboard-admin {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 29px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 40px;
}
.kelola-buku {
  color: #050505;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 29px;
  font-weight: 400;
  position: absolute;
  left: 460px;
  top: 40px;
}
.logout {
  color: #274ff0;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 29px;
  font-weight: 400;
  position: absolute;
  left: 1080px;
  top: 40px;
}
.rectangle-22 {
  width: 350px;
  height: 122px;
  position: absolute;
  left: 0px;
  top: 210px;
  overflow: visible;
}
.kelola-buku2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 29px;
  font-weight: 400;
  position: absolute;
  left: 101px;
  top: 242px;
}
.rectangle-24 {
  width: 350px;
  height: 122px;
  position: absolute;
  left: 0px;
  top: 508px;
  overflow: visible;
}
.kelola-user {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 29px;
  font-weight: 400;
  position: absolute;
  left: 101px;
  top: 540px;
}
.rectangle-23 {
  width: 350px;
  height: 122px;
  position: absolute;
  left: 0px;
  top: 359px;
  overflow: visible;
}
.riwayat-peminjaman {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 29px;
  font-weight: 400;
  position: absolute;
  left: 11px;
  top: 393px;
}
.jumlah-user-orang {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 29px;
  font-weight: 400;
  position: absolute;
  left: 460px;
  top: 197px;
}
.jumlah-buku-buku {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 29px;
  font-weight: 400;
  position: absolute;
  left: 460px;
  top: 456px;
}
.line-20 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 980px;
  height: 0px;
  position: absolute;
  left: 350px;
  top: 100px;
}
