.peminjaman,
.peminjaman * {
  box-sizing: border-box;
}
.peminjaman {
  background: #fffdf6;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-1 {
  background: #c5d9b8;
  width: 100%;
  height: 65px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-3 {
  background: #c5d9b8;
  width: 100%;
  height: 90px;
  position:absolute;
  left: 0px;
  top: 930px;
}
.home {
  color: #2f523d;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 799px;
  top: 28px;
}
.koleksi {
  color: #2f523d;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 892px;
  top: 28px;
}
.layanan {
  color: #2f523d;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 999px;
  top: 28px;
}
.rectangle-5 {
  background: #f1efd7;
  border-radius: 10px;
  width: 467px;
  height: 731px;
  position: absolute;
  left: 28px;
  top: 146px;
}
.rectangle-12 {
  background: #c5d9b8;
  border-radius: 10px;
  width: 467px;
  height: 81px;
  position: absolute;
  left: 28px;
  top: 146px;
}
.nama-lengkap {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 23px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 63px;
  top: 268px;
}
.alamat-email {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 23px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 63px;
  top: 388px;
}
.alamat-lengkap {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 23px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 63px;
  top: 508px;
}
.id-buku {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 23px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 63px;
  top: 701px;
}
.form-peminjaman {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 28px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 63px;
  top: 179px;
}
.detail-buku {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 28px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 640px;
  top: 179px;
}
.rectangle-7 {
  background: #ffffff;
  border-radius: 7px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 300px;
  height: 25px;
  position: absolute;
  left: 63px;
  top: 308px;
}
.rectangle-8 {
  background: #ffffff;
  border-radius: 7px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 300px;
  height: 25px;
  position: absolute;
  left: 63px;
  top: 548px;
}
.rectangle-9 {
  background: #ffffff;
  border-radius: 7px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 300px;
  height: 25px;
  position: absolute;
  left: 63px;
  top: 428px;
}
.rectangle-13 {
  background: #ffffff;
  border-radius: 7px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 300px;
  height: 25px;
  position: absolute;
  left: 63px;
  top: 739px;
}
.rectangle-14 {
  background: #ffffff;
  border-radius: 7px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 90px;
  height: 25px;
  position: absolute;
  left: 400px;
  top: 739px;
}
.rectangle-11 {
  background: #c5d9b8;
  border-radius: 7px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 180px;
  height: 46px;
  position: absolute;
  left: 1020px;
  top: 821px;
  aspect-ratio: 226/56;
}
.ajukan {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 26px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 1070px;
  top: 835px;
}
.check {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 21px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 415px;
  top: 743px;
}
.perpus-kita {
  color: #000000;
  text-align: center;
  font-family: var(--label-medium-font, "Roboto-Medium", sans-serif);
  font-size: 24px;
  line-height: var(--label-medium-line-height, 16px);
  letter-spacing: var(--label-medium-tracking, 0.5px);
  font-weight: 500;
  position: absolute;
  left: 647px;
  top: 971px;
  width: 145px;
  height: 23px;
}
.bell {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1136px;
  top: 26px;
  overflow: visible;
}
.account-circle {
  width: 70px;
  height: 71px;
  position: absolute;
  left: 1170px;
  top: -3px;
  overflow: visible;
}
.chat-gpt-image-29-apr-2025-21-23-28-2 {
  width: 240px;
  height: 225px;
  position: absolute;
  left: 9px;
  top: -80px;
  object-fit: cover;
  aspect-ratio: 298/293;
}
.line-3 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 460px;
  height: 0px;
  position: absolute;
  left: 640px;
  top: 231px;
  transform-origin: 0 0;
  transform: rotate(-0.125deg) scale(1, 1);
}
.line-4 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 279px;
  height: 0px;
  position: absolute;
  left: 850px;
  top: 331px;
  transform-origin: 0 0;
  transform: rotate(-0.205deg) scale(1, 1);
}
.line-5 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 279px;
  height: 0px;
  position: absolute;
  left: 850px;
  top: 498px;
  transform-origin: 0 0;
  transform: rotate(-0.205deg) scale(1, 1);
}
.screenshot-2025-04-14-204935-3 {
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 150px;
  height: 240px;
  position: absolute;
  left: 640px;
  top: 267px;
  object-fit: cover;
  aspect-ratio: 190/302;
}
.sang-raja-hutan {
  color: #000000;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 25px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 850px;
  top: 338px;
  width: 361px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.judul-buku {
  color: #000000;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 25px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 850px;
  top: 266px;
  width: 361px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._30 {
  color: #000000;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 25px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 850px;
  top: 513px;
  width: 303px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.halaman {
  color: #000000;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 25px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 850px;
  top: 447px;
  width: 303px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sinopsis {
  color: #000000;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 25px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 655px;
  top: 603px;
  width: 303px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.screenshot-2025-05-04-211914 {
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 130px;
  height: 30px;
  position: absolute;
  left: 635px;
  top: 605px;
}
.aku-adalah-anak-dari-seorang-raja-hutan-ayah-ku-yang-bernama-musafa-ayah-ku-memberi-namaku-somba {
  color: #000000;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 25px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 640px;
  top: 644px;
  width: 780px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
