.register-login,
.register-login * {
  box-sizing: border-box;
}
.register-login {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rak-1 {
  border-radius: 11px;
  width: 100%;
  height: 948px;
  position: absolute;
  
  top: 38px;
  object-fit: cover;
  aspect-ratio: 1491/948;
}
.rectangle-1 {
  background: #c5d9b8;
  width: 100%;
  height: 65px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-3 {
  background: #c5d9b8;
  width: 100%;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 930px;
}
.home {
  color: #2f523d;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 799px;
  top: 28px;
}
.koleksi {
  color: #2f523d;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 892px;
  top: 28px;
}
.layanan {
  color: #2f523d;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 999px;
  top: 28px;
}
.rectangle-5 {
  background: #f1efd7;
  border-radius: 93px;
  opacity: 0.75;
  width: 700px;
  height: 520px;
  position: absolute;
  left: 292px;
  top: 240px;
}
.masuk {
  color: #1c08f3;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 19px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 839px;
  top: 669px;
}
.nama-pengguna {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 387px;
  top: 370px;
}
.email {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 524px;
  top: 423px;
}
.alamat {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 499px;
  top: 474px;
}
.nomor-handphone {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 352px;
  top: 528px;
}
.kata-sandi {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 22px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 468px;
  top: 580px;
}
.registrasi {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 32px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 540px;
  top: 298px;
}
.rectangle-7 {
  background: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 300px;
  height: 25px;
  position: absolute;
  left: 611px;
  top: 364px;
}
.rectangle-10 {
  background: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 300px;
  height: 25px;
  position: absolute;
  left: 611px;
  top: 417px;
}
.rectangle-12 {
  background: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 300px;
  height: 25px;
  position: absolute;
  left: 611px;
  top: 470px;
}
.rectangle-13 {
  background: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 300px;
  height: 25px;
  position: absolute;
  left: 611px;
  top: 523px;
}
.rectangle-9 {
  background: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 300px;
  height: 25px;
  position: absolute;
  left: 611px;
  top: 576px;
}
.group-14 {
  position: absolute;
  inset: 0;
}
.rectangle-11 {
  border-radius: 0px;
  width: 266px;
  height: 66px;
  position: absolute;
  left: 499px;
  top: 644px;
  overflow: visible;
}
.frame-6 {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 117px;
  position: absolute;
  left: 573px;
  top: 749px;
}
.frame-5 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 36px;
  position: relative;
}
.login {
  color: #fff8f8;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 585px;
  top: 669px;
}
.perpus-kita {
  color: #2f523d;
  text-align: center;
  font-family: var(--label-medium-font, "Roboto-Medium", sans-serif);
  font-size: 18px;
  line-height: var(--label-medium-line-height, 16px);
  letter-spacing: var(--label-medium-tracking, 0.5px);
  font-weight: 500;
  position: absolute;
  left: 647px;
  top: 971px;
  width: 145px;
  height: 23px;
}
.account-circle {
  width: 70px;
  height: 71px;
  position: absolute;
  left: 1170px;
  top: -3px;
  overflow: visible;
}
.bell {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1136px;
  top: 26px;
  overflow: visible;
}
.chat-gpt-image-29-apr-2025-21-23-28-2 {
  width: 240px;
  height: 225px;
  position: absolute;
  left: 9px;
  top: -80px;
  object-fit: cover;
  aspect-ratio: 298/293;
}
