* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
  min-height: 100vh;
  background-color: #ffffff;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Header/Navbar */
.header {
  background-color: rgba(197, 217, 184, 0.95);
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: relative;
  z-index: 1;
}

/* Kiri: Logo */
.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  width: 250px;
  height: auto;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  color: #2f523d;
}

/* Kanan: Menu dan ikon */
.header-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-menu {
  display: flex;
  gap: 25px;
}

.nav-item {
  font-size: 18px;
  font-weight: 500;
  color: #2f523d;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
}

.nav-item:hover {
  background-color: #fff;
  padding: 2px 2px;
  border-radius: 10px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.icon:hover {
  background-color: #fff;
  padding: 2px 2px;
  border-radius: 10px;
}

/* layanan*/
main {
  padding: 20px;
}

.layanan-container {
  background-color: #c5d9b8;
  padding: 20px;
}
.info-layanan {
  background-color: #f1efd7;
  padding: 20px;
}
.info-layanan h3 {
  margin-bottom: 5px;
}

.info-layanan p {
  margin-bottom: 20px;
  line-height: 1.5;
}

.contact-section {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.map {
  flex: 1;
  min-width: 300px;
  height: 200px;
  border: 2px solid #e6fde2;
  border-radius: 8px;
  overflow: hidden;
}

.contact-info {
  flex: 2;
  background-color: #c5d9b8;
  padding: 15px;
  border-radius: 8px;
}

.contact-info h3 {
  margin-top: 0;
}

.footer {
  background-color: #b9d5b1;
  text-align: center;
  padding: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

/* Responsive */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    gap: 10px;
    padding: 10px;
  }

  .header-right {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .login-container {
    margin: 100px 20px;
    padding: 20px;
  }
}
