.layanan,
.layanan * {
  box-sizing: border-box;
}
.layanan {
  background: #fffdf6;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-1 {
  background: #c5d9b8;
  width: 1440px;
  height: 106px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-15 {
  background: #f1efd7;
  border-radius: 10px;
  width: 1391px;
  height: 739px;
  position: absolute;
  left: 24px;
  top: 137px;
}
.rectangle-16 {
  background: #c5d9b8;
  border-radius: 10px;
  width: 973px;
  height: 279px;
  position: absolute;
  left: 420px;
  top: 564px;
}
.rectangle-152 {
  background: #c5d9b8;
  border-radius: 10px;
  width: 1391px;
  height: 110px;
  position: absolute;
  left: 24px;
  top: 137px;
}
.rectangle-18 {
  background: #ffffff;
  border-radius: 26px;
  width: 116px;
  height: 58px;
  position: absolute;
  left: 1105px;
  top: 24px;
}
.rectangle-3 {
  background: #c5d9b8;
  width: 1440px;
  height: 106px;
  position: absolute;
  left: 0px;
  top: 918px;
}
.home {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 898px;
  top: 45px;
}
.koleksi {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 999px;
  top: 45px;
}
.layanan2 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 1116px;
  top: 45px;
}
.layanan-perpuskita {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 32px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 63px;
  top: 184px;
}
.peminjaman-pengembalian {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 63px;
  top: 287px;
}
.informasi-fasilitas {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 63px;
  top: 425px;
}
.perpus-kita {
  color: #000000;
  text-align: center;
  font-family: var(--label-medium-font, "Roboto-Medium", sans-serif);
  font-size: 24px;
  line-height: var(--label-medium-line-height, 16px);
  letter-spacing: var(--label-medium-tracking, 0.5px);
  font-weight: 500;
  position: absolute;
  left: 647px;
  top: 971px;
  width: 145px;
  height: 23px;
}
.contacts-us {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 32px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: absolute;
  left: 441px;
  top: 591px;
}
.layanan-peminjaman-buku-tersedia-untuk-seluruh-anggota-yang-telah-terdaftar-masa-peminjaman-maksimal-adalah-14-hari-dan-dapat-diperpanjang-satu-kali-pengembalian-buku-yang-terlambat-akan-dikenakan-denda-sesuai-kebijakan-perpustakaan {
  color: #000000;
  text-align: left;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 20px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 63px;
  top: 303px;
  width: 1344px;
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tersedia-ruang-baca-nyaman-dengan-pendingin-ruangan-dan-akses-wi-fi-fasilitas-ruang-diskusi-dan-komputer-untuk-pencarian-literatur-digital-layanan-fotokopi-dan-pencetakan-tersedia-di-area-layanan-pengguna {
  color: #000000;
  text-align: left;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 20px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 63px;
  top: 434px;
  width: 1344px;
  height: 102px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image-2 {
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 349px;
  height: 312px;
  position: absolute;
  left: 41px;
  top: 548px;
  object-fit: cover;
  aspect-ratio: 349/312;
}
.bell {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 1261px;
  top: 31px;
  overflow: visible;
}
.account-circle {
  width: 79px;
  height: 81px;
  position: absolute;
  left: 1321px;
  top: 8px;
  overflow: visible;
}
.map-pin {
  width: 36px;
  height: 37px;
  position: absolute;
  left: 139px;
  top: 619px;
  overflow: visible;
}
.chat-gpt-image-29-apr-2025-21-23-28-2 {
  width: 298px;
  height: 293px;
  position: absolute;
  left: 8px;
  top: -94px;
  object-fit: cover;
  aspect-ratio: 298/293;
}
.alamat-jl-buku-ilmu-no-45-kota-literasi-12345-telepon-021-4567-8910-email-layanan-perpuskita-id {
  color: #000000;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 30px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 441px;
  top: 702px;
  width: 860px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
